{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="blog-news-details blog-single-details">

    <button class="comment-btn">{{ button_label|default('Save') }}</button>

</div>
{{ form_end(form) }}
